/* Estilos base comunes */
.borde,
.borde2 {
  transition: all 0.3s ease; /* Transición suave para bordes */
}

.btn,
.card,
.gradiente,
.table,
.table-striped tbody tr:nth-of-type(odd),
.table thead,
.table-hover tbody tr:hover,
.lds-spinner2 l-infinity {
  transition: all 0.3s ease; /* Transición suave para otros elementos */
}

/* Estilos para el tema claro */
[data-bs-theme=light] {
  .borde,
  .borde2 {
    border-color: #ccc;
    background-color: #f9f9f9;
    color: #333;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave */
  }

  .gradiente {
    background-image: linear-gradient(135deg, #f9f9f9, #eaeaea);
  }

  .table {
    color: #333333;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave */
  }

  .table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.02); /* Fondo más sutil */
  }

  .table thead {
    background-color: #f5f5f5;
    color: #333333;
  }

  .lds-spinner2 l-infinity {
    color: #333333;
  }

  .fade-in {
    animation: fadeIn ease-in 0.6s;
  }
}

/* Estilos para el tema oscuro */
[data-bs-theme=dark] {
  .borde,
  .borde2 {
    border-color: #666;
    background-color: #222;
    color: #eee;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); /* Sombra más definida */
  }

  .gradiente {
    background-image: linear-gradient(135deg, #222, #111);
  }

  .table {
    color: #eeeeee;
    background-color: #222222;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); /* Sombra más definida */
  }

  .table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(255, 255, 255, 0.02); /* Fondo más sutil */
  }

  .table thead {
    background-color: #f5f5f5;
    color: #333333;
  }

  .lds-spinner2 l-infinity {
    color: #eeeeee;
  }

  .fade-in {
    animation: fadeIn ease-in 0.6s;
  }
}

/* Animación de cambio para el tema oscuro */
[data-bs-theme=dark] .borde,
[data-bs-theme=dark] .borde2,
[data-bs-theme=dark] .btn,
[data-bs-theme=dark] .card,
[data-bs-theme=dark] .gradiente,
[data-bs-theme=dark] .table,
[data-bs-theme=dark] .table-striped tbody tr:nth-of-type(odd),
[data-bs-theme=dark] .table thead,
[data-bs-theme=dark] .table-hover tbody tr:hover,
[data-bs-theme=dark] .lds-spinner2 l-infinity {
  transition: all 0.3s ease;
  animation: fadeIn ease-in 0.6s;
}

/* Animación de opacidad para el tema oscuro */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
